<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Онлайн шляпа</title>
    <style>
        html{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Играй в популярную игру Шляпа онлайн!</h1>
    <p><img src = "https://play-lh.googleusercontent.com/P5bI6TqOXp3mkpqudg3EvOWGpKgVM-VUnm425Tnc09gR6ScAP4djy3xabeWWU2ZBLKE"  height = 400 length = 400/></p>
    <p><a href="/rules">Правила</a></p>
    <p><a href="/create/my_words">Создать игру</a></p>
{#    <p><a href="/join">Присоединиться к игре</a></p>#}
</body>
</html>