<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    <style>
        html{
            text-align: center;
        }
    </style>
</head>
<body>
    <p><a href="/">Назад</a></p>
    <h1>Правила</h1>
    <h4>Шляпа - интересная и веселая игра для компании. Цель игры – за ограниченное время объяснить партнёру как можно больше слов вытянутых из шляпы.</h4>
    <p>Все игроки пишут какое-то кол-во слов и кладут в шляпу.</p>
    <rp>После нужно разделиться на пары.</rp>

    <p>Далее идут раунды в каждом из которых свои правила объяснения слов.</p>
    <h4>Например:</h4>
    <p>1. с помощью слов</p>
    <p>2. с помощью жестов</p>
    <p>3. с помощью одного слова</p>
    <p>(можно придумать свои)</p>

    <p>Игроки по-очереди объясняют слова партнёру. У каждого есть 30 секунд.</p>
    <rp>За это время нужно объяснить максимальное число слов.</rp>
    <p>Если слово отгадано оно остаётся в этом раунде у отгадавшей пары, иначе кладётся обратно в шляпу</p>
    <p>За каждое слово паре добавляется одно очко</p>
</body>
</html>